<br>
<br>
<br>
<br>
<br>
<form class="ui form" method="POST" action="/users/login">
  <h2>LOG IN</h2>
  <div class="two fields">
    <div class="field">
      <label>Email</label>
      <input required type="text" name="email">
    </div>

    <div class="field">
      <label>Password</label>
      <input required type="password" name="password">
    </div>
  </div>

  <button class="ui teal basic button" type="submit">Log In</button>
</form>
</div>
</div>
<br>
<br>
<br>


