<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="ui form" class='ui segment'>
  <form method="POST" action="/posts">
    <div class="field" class="ui center aligned header">
      <label>Links(Paste link here)</label>
      <textarea rows="1" input type="text" name='link'></textarea>
    </div>
    <div class="field" class="ui center aligned header">
      <label>Caption</label>
      <textarea rows="2" input type="text" name='text'></textarea>
    </div>
    <button class="ui teal basic button" type="submit">Post</button>
  </form>
</div>