<form class="ui form" method="POST" action="/users/signup">
  <h2>SIGN UP</h2>
  <div class="four fields">
    <div class="field">
      <label>First Name</label>
      <input required type="text" name="firstName">
    </div>
    
    <div class="field">
      <label>Last Name</label>
      <input required type="text" name="lastName">
    </div>  

    <div class="field">
      <label>Email</label>
      <input required type="text" name="email">
    </div>

    <div class="field">
      <label>Password</label>
      <input required type="password" name="password">
    </div>
    <div class="field">
      <label>Profile Picture(Links Only)</label>
      <input required type="text" name="pic">
    </div>
  </div>

  <button class="ui teal basic button" type="submit">Start Journey</button>
</form>